<div id="<%= dom_id user %>" class='flex flex-col py-4'>
  <span class="text-sm text-gray-500">
    <%= user.email %>
  </span>

  <span class="font-bold">
    <%= link_to "#{user.name}", user, class: "font-medium hover:text-[#1D9AF1]" %>
  </span>

  <span class='text-sm text-gray-500'>
    <%= "#{user.microposts.length == 1 ? user.microposts.length.to_s + " post" : user.microposts.length.to_s + " posts"}" %>
  </span>
</div>
