<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1 text-xl text-gray-500">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-xl text-gray-500">Email:</strong>
    <%= user.email %>
  </p>

</div>
